/* Custom */
.App {
    text-align: center;
    min-height: 100vh;
}

.App.Dark {
    background-color: black;
}

.Footer {
    background-color: transparent;
}

.Menu, .Header {
    background-color: transparent;
    border-bottom: transparent;
}

.Input.Dark > span > .ant-input-group-addon, .Input.Dark > span > .ant-input {
    border-color: #262626;
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.65) !important;
}

.Input.Dark > span > span > div > div {
    color: rgba(255, 255, 255, 0.65) !important;
}

.Header.Dark, .Menu.Dark {
    color: rgba(255, 255, 255, 0.65);
}

.ant-tabs-tab-btn {
    color: rgba(255, 255, 255, 0.65) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #1890ff !important;
}

.LearnMore.Dark {
    color: rgba(255, 255, 255, 0.65) !important;
    border-color: rgba(255, 255, 255, 0.65) !important;
}

.Card.Dark > div > div > .ant-card-head-title {
    color: white !important;
}

.Card.Dark {
    color: rgba(255, 255, 255, 0.65) !important;
    background-color: #141414 !important;
}

.Title.Dark {
    color: white;
}

.Dark.ant-alert-warning {
    background-color: #faad14;
}

.Back {
    color: white;
}

.Dark.ant-btn-ghost[disabled] {
    color: rgba(255, 255, 255, 0.65) !important;
    background-color: transparent;
}

.Cards {
    text-align: left;
}

.Connected {
    float: right;
}

.Layout {
    background-color: black;
}

.ConnectWallet {
    float: right;
    width: 30%;
    margin-right: 5px;
    border-radius: 0;
}

.ConnectWalletHeader {
    text-align: right;
}

.Currency {
    color: #00c805;
}

.ConnectWalletButton {
    color: rgba(255, 255, 255, 0.65) !important;
}

.LearnMore {
    color: black !important;
    border-color: black !important;
    border-radius: 0;
    float: left;
    width: 30%;
    margin-left: 5px;
}

.WalletMultiButton {
    display: none !important;
}

.CurrentBlock {
    color: green;
}

.PoolInput {
    text-align: right;
}

.ApproveButton {
    width: 100%;
    color: #1890ff;
    border-color: #1890ff;
}

.TradeButton {
    width: 100%;
    color: #1890ff;
    border-color: #1890ff;
}

.RadioGroup {
    width: 100%;
}

.TradeInput {
    text-align: right;
}

.Logo {
    float: left;
    cursor: pointer;
}

.Logo.Dark {
    color: white;
}

.Balance {
    display: none;
}

.Dark .ant-radio-button-wrapper, .Dark.ant-radio-button-wrapper:hover {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.65);
}

.CheckCircleOutlined {
    color: white;
}

.PublicKey {
    margin-right: 20px;
}

.CloseCircleOutlined {
    color: white;
}

.ClockCircleOutlined {
    color: white;
}

.Dark.Alert {
    display: none;
}

.Level4 {
    text-align: left;
}

/* Ant */
.ant-select-dropdown,
.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
{
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.65);
}

.ant-select-item, .ant-select-item:hover {
    color: rgba(255, 255, 255, 0.65);
    background-color: #1f1f1f;
}

.ant-list-item {
    border-bottom: 1px solid black !important;
}

.ant-list-item:last-child {
    border-bottom: 0 solid black !important;
}

.ant-list-item-meta-description {
    color: rgba(255, 255, 255, 0.65);
}

.ant-list-item-meta-title > a {
    color: white !important;
}

.ant-radio-button-wrapper {
    text-align: center;
    width: 50%;
}

.ant-steps-item-title, .ant-steps-item-description {
    color: rgba(255, 255, 255, 0.65) !important;
}

.ant-steps-item-title {
    color: white !important;
}

.ant-select-arrow {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.65);
}

.ant-card-head {
    border-bottom: none;
}

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: #1f1f1f;
}

.ant-list-item-meta-title {
    color: white;
}

/* SOL Wallet */
.wallet-adapter-button.wallet-adapter-button-trigger {
    float: right;
    border-radius: 0;
    font-size: 14px;
    height: 100%;
    background-color: #1890ff;
}
