/* Custom */
.App {
    text-align: center;
    height: 100vh;
}

.Menu, .Header {
    background-color: transparent;
}

.Cards {
    text-align: left;
}

.Connected {
    float: right;
}

.ConnectWallet {
    float: right;
    width: 30%;
    margin-right: 5px;
    border-radius: 0;
}

.ConnectWalletHeader {
    text-align: right;
}

.LearnMore {
    color: black !important;
    border-color: black !important;
    border-radius: 0;
    float: left;
    width: 30%;
    margin-left: 5px;
}

.WalletMultiButton {
    display: none !important;
}

.CurrentBlock {
    color: green;
}

/* Ant */
.logo {
    float: left;
}

.ant-card-head {
    border-bottom: none;
}

/* SOL Wallet */
.wallet-adapter-button.wallet-adapter-button-trigger {
    float: right;
    border-radius: 0;
    font-size: 14px;
    height: 100%;
    background-color: #1890ff;
}
