/* App */
html {
    zoom: 108%;
}

.App {
    text-align: center;
}

.App.Dark {
    background-color: transparent;
}

.Footer {
    background-color: transparent;
}

.Menu, .Header {
    background-color: transparent;
    border-bottom: transparent;
}

.Input.Dark > span > .ant-input-group-addon, .ant-input {
    border-color: #262626;
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.65) !important;
}

.Input.Dark > span > span > div > div {
    color: rgba(255, 255, 255, 0.65) !important;
}

.Header.Dark, .Menu.Dark {
    color: rgba(255, 255, 255, 0.65);
}

.LogoImage {
    height: 18px;
    margin-right: 10px;
    display: none;
}

.LearnMore.Dark {
    color: rgba(255, 255, 255, 0.65) !important;
    border-color: rgba(255, 255, 255, 0.65) !important;
}

.Card.Dark > div > div > .ant-card-head-title {
    color: white !important;
}

.Card.Dark {
    color: rgba(255, 255, 255, 0.65) !important;
    background-color: #141414 !important;
    border-radius: 10px;
}

.Title.Dark {
    color: white;
}

.Dark.ant-alert-warning {
    background-color: #faad14;
}

.Back {
    color: white;
}

.Dark.ant-btn-ghost[disabled] {
    color: rgba(255, 255, 255, 0.65) !important;
    background-color: transparent;
}

.Cards {
    text-align: left;
}

.Connected {
    float: right;
}

.SolCount {
    margin-right: 2em;
}

.Layout {
    background-color: transparent;
}

.ConnectWallet {
    float: right;
    width: 30%;
    margin-right: 5px;
    border-radius: 0;
}

.ConnectWalletHeader {
    text-align: right;
}

.Green {
    color: #00c805 !important;
}

.Yellow {
    color: #ffb11a;
}

.ConnectWalletButton {
    color: rgba(255, 255, 255, 0.65) !important;
}

.LearnMore {
    color: black !important;
    border-color: black !important;
    border-radius: 0;
    float: left;
    width: 30%;
    margin-left: 5px;
}

.WalletMultiButton {
    display: none !important;
}

.StakeInput {
    text-align: right;
}

.LogoText {
    background: linear-gradient(-45deg, #ffb11a, white, #ffb11a);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;animation: gradient 60s ease infinite;
    font-size: 16px;
}

.BlockHeight {
    color: white;
}

.ApproveButton {
    width: 100%;
    color: #1890ff;
    border-color: #1890ff;
}

.InverseButton {
    width: 100%;
    color: #1890ff;
    border-color: #1890ff;
}

.RadioGroup {
    width: 100%;
}

.InverseInput {
    text-align: right;
}

.Logo {
    float: left;
    cursor: pointer;
}

.Logo.Dark {
    color: white;
}

.Balance {
    display: none;
}

.ColCentered {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.AssetTitleModal {
    color: white;
    padding-left: 0;
    font-weight: 500;
    font-size: 16px;
}

.CheckCircleOutlined {
    color: white;
}

.PublicKey {
    margin-right: 20px;
}

.CloseCircleOutlined {
    color: white;
}

.ClockCircleOutlined {
    color: white;
}

.Level4 {
    text-align: left;
}

.InverseStatsBar {
    color: rgba(255, 255, 255, 0.65) !important;
}

.CardLink {
    color: rgba(255, 255, 255, 0.65);
}

.SettingsDropdown {
    display: none;
}

.Asset.ListItem {
    cursor: pointer;
}

.White {
    color: white;
}

.BuyButton > .ant-radio-button-checked {
    border-right-color: #24ae64 !important;
    background-color: #24ae64 !important;
    color: white !important;
}

.BuyButton {
    border-color: #33b56f !important;
    color: #24ae64 !important;
}

.BuyButton > .ant-radio-button {
    color: white !important;
}

.SellButton > .ant-radio-button-checked {
    border-right-color: #d73e3d !important;
    background-color: #d73e3d !important;
    color: white !important;
}

.SellButton {
    border-color: #d73e3d !important;
    color: #d73e3d !important;
}

.SellButton > .ant-radio-button {
    color: white !important;
}

/* Background */
html, body {
    width: 100%;
    height:100%;
}

body {
    background: linear-gradient(-45deg, #000000, #080808, #101010, #080808);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Ant */
.ant-notification-notice {
    background-color: #141414 !important;
    color: rgba(255, 255, 255, 0.65);
}

.ant-notification-notice-message {
    color: white !important;
}

.ant-notification-close-icon {
    color: white;
}

.ant-tabs-tab-btn {
    color: rgba(255, 255, 255, 0.65) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #1890ff !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: #d73e3d !important;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)  {
    color: white !important;
}

.ant-steps-vertical > .ant-steps-item .ant-steps-item-icon {
    background-color: #1f1f1f;
}

.ant-modal-content, .ant-modal-header {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.65) !important;
    border-radius: 10px;
}

.ant-modal-title {
    color: white !important;
}

.ant-modal-header {
    border-bottom: none;
}

.anticon.anticon-close.ant-modal-close-icon {
    color: white;
}

.ant-radio-button-wrapper {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.65);
}

.ant-radio-button-wrapper:hover {
    border-color: #1890ff;
}

.ant-select-dropdown,
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.65);
}

.ant-select-item, .ant-select-item:hover {
    color: rgba(255, 255, 255, 0.65);
    background-color: #1f1f1f;
}

.ant-list-item {
    border-bottom: 1px solid #1f1f1f !important;
}

.ant-list-item:last-child {
    border-bottom: 0 solid black !important;
}

.ant-list-item-meta-description {
    color: rgba(255, 255, 255, 0.65);
}

.ant-list-item-meta-title > a {
    color: white !important;
}

.ant-radio-button-wrapper {
    text-align: center;
    width: 50%;
}

.ant-steps-item-title, .ant-steps-item-description {
    color: rgba(255, 255, 255, 0.65) !important;
}

.ant-steps-item-title {
    color: white !important;
}

.ant-steps-item-process .ant-steps-item-icon {
    border-color: white;
}

.ant-select-arrow {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.65);
}

.ant-card-head {
    border-bottom: none;
}

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: white;
}

.ant-list-item-meta-title {
    color: white;
}

/* SOL Wallet */
.wallet-adapter-button.wallet-adapter-button-trigger {
    float: right;
    border-radius: 0;
    font-size: 14px;
    height: 100%;
    background-color: #1890ff;
}
