/* Custom */
.App {
    text-align: center;
    min-height: 100vh;
}

.App.Dark {
    background-color: black;
}

.Footer {
    background-color: transparent;
}

.Menu, .Header {
    background-color: transparent;
    border-bottom: transparent;
}

.Input.Dark > span > .ant-input-group-addon, .Input.Dark > span > .ant-input {
    border-color: rgba(255, 255, 255, 0.65);
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.65) !important;
}

.Input.Dark > span > span > div > div {
    color: rgba(255, 255, 255, 0.65) !important;
}

.Header.Dark, .Menu.Dark {
    color: rgba(255, 255, 255, 0.65);
}

.LearnMore.Dark {
    color: rgba(255, 255, 255, 0.65) !important;
    border-color: rgba(255, 255, 255, 0.65) !important;
}

.Card.Dark > div > div > .ant-card-head-title {
    color: rgba(255, 255, 255, 0.65) !important;
}

.Card.Dark {
    color: rgba(255, 255, 255, 0.65) !important;
    background-color: #141414 !important;
}

.Title.Dark {
    color: white;
}

.Dark.ant-btn-ghost[disabled] {
    color: rgba(255, 255, 255, 0.65) !important;
    background-color: transparent;
}

.Cards {
    text-align: left;
}

.Connected {
    float: right;
}

.ConnectWallet {
    float: right;
    width: 30%;
    margin-right: 5px;
    border-radius: 0;
}

.ConnectWalletHeader {
    text-align: right;
}

.ConnectWalletButton > button {
    color: rgba(255, 255, 255, 0.65) !important;
}

.LearnMore {
    color: black !important;
    border-color: black !important;
    border-radius: 0;
    float: left;
    width: 30%;
    margin-left: 5px;
}

.WalletMultiButton {
    display: none !important;
}

.CurrentBlock {
    color: green;
}

.PoolInput {
    text-align: right;
}

.ApproveButton {
    width: 100%;
    color: #1890ff;
    border-color: #1890ff;
}

.TradeButton {
    width: 100%;
    color: #1890ff;
    border-color: #1890ff;
}

.RadioGroup {
    width: 100%;
}

.TradeInput {
    text-align: right;
}

.Logo {
    float: left;
}

.Logo.Dark {
    color: white;
}

.Balance {
    display: none;
}

.Dark .ant-radio-button-wrapper, .Dark.ant-radio-button-wrapper:hover {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.65);
}

.ant-select-arrow {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.65);
}

/* Ant */
.ant-radio-button-wrapper {
    text-align: center;
    width: 50%;
}

.ant-card-head {
    border-bottom: none;
}

/* SOL Wallet */
.wallet-adapter-button.wallet-adapter-button-trigger {
    float: right;
    border-radius: 0;
    font-size: 14px;
    height: 100%;
    background-color: #1890ff;
}
