@font-face {
    font-family: 'Spartan';
    src: url('./fonts/Spartan-VariableFont_wght.ttf');
}

html {
    zoom: 108%;
    background-color: black;
}

body {
    font-family: 'Spartan';
    background: linear-gradient(-45deg, #101010, #080808, #181818);
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.ant-carousel, .ant-menu-dark.ant-menu-horizontal, .ant-layout-header, .ant-layout, .hero-view {
    background: transparent;
}

.fixed-header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header-logo {
    height: 30px;
}

.header-menu {
    float: right;
    min-width: 30em;
}

.hero-view {
    min-height: 100vh;
    color: white;
    padding: 0 1em 0 1em;
    position: relative;
    border-top: 1px solid black !important;
    background: no-repeat center url(./wings-1.svg);
}

.hero-content {
    bottom: 15em;
    position: absolute;
}

.hero-description {
    color: white !important;
}

.hero-title {
    color: white !important;
    font-size: 4em !important;
    font-size: 20px;
    font-weight: bold;
}

.footer {
    text-align: center;
    color: white;
    padding: 3em;
    background-color: #1890ff;
}

.carousel-view {
    padding: 10em 1em 10em 1em;
    text-align: center;
}

.carousel-title {
    color: white !important;
    font-size: 2em;
}

.carousel-description {
    color: white;
    font-size: 1.5em;
}
