@font-face {
    font-family: 'Spartan';
    src: url('./fonts/Spartan-VariableFont_wght.ttf');
}

html {
    background-color: black;
}

body {
    font-family: 'Spartan';
    background: linear-gradient(-45deg, white, white);
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.ant-carousel, .ant-menu-dark.ant-menu-horizontal, .ant-layout-header, .ant-layout, .hero-view {
    background: transparent;
}

.fixed-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: black !important;
}


.header-logo {
    height: 30px;
    display: block;
}

.header-menu {
    height: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
}

.logo {
  float: left;
  height: 31px;
  margin: 0;
  height: 100%;
  padding: 16px 0 16px 0;
}

.hero-view {
    color: white;
    background-color: transparent;
    height: 100vh;
    position: relative;
    background-image: url(./wings.svg);
    background-size: 200% 200%;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 1em;
}

.hero-content {
    bottom: 5em;
    position: absolute;
}

.hero-description {
    color: black;
}

.hero-title {
    color: black;
    font-size: 4em !important;
    font-size: 20px;
    font-weight: bold;
    z-index: 0;
}

.footer {
    text-align: center;
    color: white;
    padding: 3em;
    background-color: black;
}

.carousel-view {
    padding: 10em 1em 10em 1em;
    text-align: center;
    background-color: #1890ff;
}

.carousel-title {
    color: white !important;
    font-size: 2em;
}

.carousel-description {
    color: white;
    font-size: 1.5em;
}
